parameters:
    level: 9
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Property App\\[a-zA-Z]+\\Entity\\[a-zA-Z]+::\$id is never written, only read.#'
            path: src/*/Entity/*
        -
            messages:
                - '#Class .* has an uninitialized readonly property.*#'
                - '#Readonly property .* is assigned outside of the constructor#'
            path: tests/*